vllm==0.8.5.post1
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
tensordict==0.6.2
torchdata
transformers==4.51.3
accelerate
datasets
peft
numpy<2.0.0
pyarrow>=15.0.0
pandas
ray[default]
codetiming
hydra-core
pylatexenc
dill
pybind11
nvidia-ml-py>=12.560.30
optree>=0.13.0
pydantic>=2.9
math_verify
latex2sympy2_extended
setuptools
wheel
